%h1 Data Loaded
%p
  We've loaded sample data in to your account. Curious?
%dl.dl-horizontal
  - @sources.each do |s|
    %dt= s[0]
    %dd= link_to "Dataset for #{s[0]}", s[1], class: 'btn'

%h1 Want more sample data?
%ul.nav.nav-pills
  %li= link_to 'Start Over', root_path, class: 'btn btn-danger'
  %li= link_to 'Just let me pick some fields', new_sample_path, class: 'btn'

:markdown
  # What's Next?

  Read the [mHealth API Documentation](https://mhealth.dev.attcompute.com/dev/documentation)
  or perhaps the
  [Developing with mHealth guide](https://mhealth.dev.attcompute.com/dev/documentation/mhealth).
